body{
    border: 10px solid grey;
    width: 80%;
    text-align:center;
    margin:auto;
    padding:20px;
}
#description{
    color: blue;
}

h1{
    text-align:center;
    color: red;
}

.ab{
    color:red;
}

#name :first-child{
    margin-right:30px;
}
#email :first-child{
    margin-right:30px;
}
#number :first-child{
    margin-left:15px;
}